<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>

<form method="POST" action="/logout">
    <input type="submit" value="LogOut">
</form>


<form method="GET" action="/">
    <input type="submit" value="Home">
</form>

<% for(var i in data) { %>
<% if (data[i]) { %>

<div>
    ------------------------------------------
    <p>
        <%= data[i].message %>
    </p>

    <p>
        <%= data[i].email %>
    </p>
    <img src="<%=data[i].icon%>">
    <p>
        <%= data[i].twitter %>
    </p>

    <form action="#" method="POST" class="click">
        <label for="<%= data[i]._id %> +1">Pending</label> <input type="radio"   value="pending" id="<%= data[i]._id %> +1" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio" checked>
        <br>
        <label for="<%= data[i]._id %> +2">Approve</label><input type="radio"  value="approve" id="<%= data[i]._id %> +2" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">
        <br>
        <label for="<%= data[i]._id %> +3">Decline</label><input type="radio"  value="decline" id="<%= data[i]._id %> +3" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">
        <br>
        <% } %>
        <% } %>
        <input type="button" name="submit" id="submit" value="Save" onclick="radio()"/>
    </form>
</div>



bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
<% for(var i in plus) { %>
<div>
    ------------------------------------------
    <p>
        <%= plus[i].message %>
    </p>

    <p>
        <%= plus[i].email %>
    </p>
    <img src="<%=plus[i].icon%>">
    <p>
        <%= plus[i].twitter %>
    </p>

    <form action="#" method="POST" class="click">
        <label for="<%= plus[i]._id %> +1">Pending</label> <input type="radio"   value="pending" id="<%= plus[i]._id %> +1" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio" checked>
        <br>
        <label for="<%= plus[i]._id %> +2">Approve</label><input type="radio"  value="approve" id="<%= plus[i]._id %> +2" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">
        <br>
        <label for="<%= plus[i]._id %> +3">Decline</label><input type="radio"  value="decline" id="<%= plus[i]._id %> +3" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">
        <br>
        <% } %>

        <input type="button" name="submit" id="submit" value="Save" onclick="radio()"/>
    </form>
</div>


<script>

    function radio() {
        var radio = $(".radio"),
            dataId;
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked === true) {
                dataId = $(radio[i]).attr("data_Id");
              // alert(dataId + radio[i].value + "get value");

                $.ajax({
                    url: "",
                    type: "POST",
                    data: {postId: dataId, status: radio[i].value},
                    success: function (data) {
                        if(data!==""){
                          dataId.parent().remove();
                        }
                        console.log(data);

                    }
                });

            }
        }
        window.location.reload();

    };

</script>


</body>
</html>
