<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>
<!--header-->
<div class="header">
    <div class="all">
        <div class="heartlovepower">
            <div class="heart"></div>
            <div class="powerlove">
                <div class="love" > </div>
                <div class="java"> </div>
                <span class="power">powered by <span class="exp">expresscurate</span></span>
            </div>
            <div class="clear2"></div>
        </div>
        <div class="buttons">
            <a href="http://localhost:3000/form" class="a_link"><button class="add"> ADD LOVE NOTE</button></a>
            <a  href="http://localhost:3000/">
            <button class="like">
                <!--<div class="like_note"></div>-->
                <span>HOME</span>
            </button>
            </a>
        </div>
        <div class="clear2"></div>
        <form method="POST" action="/logout">
            <input type="submit" value="Logout" class="admin-logout-btn">
        </form>
    </div>
    <div class="clear2"></div>
</div>
<!--end of header-->




<!--<form method="GET" action="/">-->
    <!--<input type="submit" value="Home">-->
<!--</form>-->
<div class="admin">
<div class="admin-all">
    <span class="admin-notes-type">NOTES</span>
<% for(var i in data) { %>
<% if (data[i]) { %>

<div class="admin-note">
    <div class="admin-note-content">
  <span><%= data[i].message %></span>
  <p class="admin-email"><%= data[i].email %></p>
    <!--<img src="<%=data[i].icon%>">-->
  <p class="admin-tweet"><%= data[i].twitter %><p>
    </div>
</div>

<form action="#" method="POST" class="click">
    <div class="admin-label">
        <div class="admin-label-note-content">
        <label for="<%= data[i]._id %> +1">Pending</label> <input type="radio"   value="pending" id="<%= data[i]._id %> +1" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio" checked>

        <label for="<%= data[i]._id %> +2">Approve</label><input type="radio"  value="approve" id="<%= data[i]._id %> +2" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

        <label for="<%= data[i]._id %> +3">Decline</label><input type="radio"  value="decline" id="<%= data[i]._id %> +3" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

        </div>
    </div>
        <% } %>
        <% } %>
    <input type="button" name="submit" id="submit" value="Save" class="admin-save-btn" onclick="radio()"/>

    </form>
</div>


<div class="admin-18-all">
    <span class="admin-notes-type"> NOTES 18+</span>
<% for(var i in plus) { %>
<div class="admin-18">
    <div class="admin-18-content">
    <span><%= plus[i].message %></span>
     <p class="admin-email"><%= plus[i].email %></p>
    <!--<img src="<%=plus[i].icon%>">-->
    <p class="admin-tweet"><%= plus[i].twitter %> </p>
    </div>
   </div>
    <form action="#" method="POST" class="click">
        <div class="admin-18-label">
            <div class="admin-label-18-content">
        <label for="<%= plus[i]._id %> +1">Pending</label> <input type="radio"   value="pending" id="<%= plus[i]._id %> +1" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio" checked>

        <label for="<%= plus[i]._id %> +2">Approve</label><input type="radio"  value="approve" id="<%= plus[i]._id %> +2" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

        <label for="<%= plus[i]._id %> +3">Decline</label><input type="radio"  value="decline" id="<%= plus[i]._id %> +3" name="<%= plus[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

            </div>
            </div>
        <% } %>
        <input type="button" name="submit" id="submit" value="Save"  class="admin-save-btn" onclick="radio()"/>
    </form>
</div>
<div class="clear2"></div>
</div>



<script>

    function radio() {
        var radio = $(".radio"),
            dataId;
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked === true) {
                dataId = $(radio[i]).attr("data_Id");
        $.ajax({
                    url: "",
                    type: "POST",
                    data: {postId: dataId, status: radio[i].value},
                    success: function (data) {
                        if(data!==""){
                          dataId.parent().remove();
                        }
                        console.log(data);

                    }
                });

            }
        }
        window.location.reload();

    };

</script>
</body>
</html>
