<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>

<form method="POST" action="/logout">
    <input type="submit" value="LogOut">
</form>


<form method="GET" action="/">
    <input type="submit" value="Home">
</form>

<% for(var i in data) { %>
<div>
    ------------------------------------------
    <p>
        <%= data[i].message %>
    </p>

    <p>
        <%= data[i].email %>
    </p>

    <p>
        <%= data[i].twitter %>
    </p>

    <form action="#" method="POST" class="click">
        <input type="radio" value="pending" name="<%= data[i]._id %>" id="<%= data[i]._id %>" class="radio" checked>
        pending <br>
        <input type="radio" value="approve" name="<%= data[i]._id %>" id="<%= data[i]._id %>" class="radio">approve
        <br>
        <input type="radio" value="decline" name="<%= data[i]._id %>" id="<%= data[i]._id %>" class="radio">decline <br>
        <% } %>
        <input type="button" name="submit" id="submit" value="submit" onclick="radio()"/>
    </form>
</div>


<script>

    function radio() {
        var radio = document.getElementsByClassName("radio");
        for (var i = 0; i < radio.length; i++) {

            if (radio[i].checked === true) {
                alert(radio[i].id + radio[i].value + "get value");

                $.ajax({
                    url: "",
                    type: "POST",
                    data: {postId: radio[i].id, status: radio[i].value}, // data{postId:id, name:name};
                    success: function (data) {
                        if(data!==""){
                          $(input[i].id).parent().remove();
                        }
                        console.log(data);
//
                    }
                });
            }
        }
        window.location.reload();
    };

</script>


</body>
</html>
