<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

<body>
<!--header-->
<div class="header">
    <div class="all">
        <div class="heartlovepower">
            <a href="http://localhost:3000/">
                <div class="heart"></div>
                <div class="powerlove">
                    <div class="love" ></div>
                    <div class="java"></div>
                    <span class="power">powered by</span><span class="exp"> expresscurate</span>
                </div>
                <div class="clear2"></div>
            </a>
        </div>
        <div class="buttons">
            <a href="http://localhost:3000/express-your-love" class="a_link"><button class="add"> ADD LOVE NOTE</button></a>
            <a  href="http://localhost:3000/">
            <button class="like">
                <!--<div class="like_note"></div>-->
                <span>HOME</span>
            </button>
            </a>
            <form method="POST" action="/logout">
                <input type="submit" value="Logout" class="admin-logout-btn">
            </form>
            </div>
        <div class="clear2"></div>
        <!--</div>-->
            <!--&lt;!&ndash;<div class="admin-login-btn">&ndash;&gt;-->
               <!--&lt;!&ndash;<form method="POST" action="/logout">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="submit" value="Logout" class="admin-logout-btn">&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="clear2"></div>-->

    </div>
    <div class="clear2"></div>
</div>
<!--end of header-->



<div class="admin">
<div  id="container"   class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
<% for(var i in data) { %>
 <div  class="item-admin 18plus=<%= data[i].status18%>">
  <span><%= data[i].message %></span>
  <p class="admin-email"><%= data[i].email %></p>
    <!--<img src="<%=data[i].icon%>">-->
  <p class="admin-tweet"><%= data[i].twitter %><p>
 </div>

<form action="#" method="POST" class="click">
    <div class="item-admin-label">
        <div class="admin-label-note-content">
        <label for="<%= data[i]._id %> +1">Pending</label> <input type="radio"   value="pending" id="<%= data[i]._id %> +1" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio" checked>

        <label for="<%= data[i]._id %> +2">Approve</label><input type="radio"  value="approve" id="<%= data[i]._id %> +2" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

        <label for="<%= data[i]._id %> +3">Decline</label><input type="radio"  value="decline" id="<%= data[i]._id %> +3" name="<%= data[i]._id %>" data_Id="<%= data[i]._id %>" class="radio">

        </div>
    </div>

   <% } %>
    <input type="button" name="submit" id="submit" value="Save" class="admin-save-btn" onclick="radio()"/>

    </form>
</div>




<script>

    function radio() {
        var radio = $(".radio"),
            dataId;
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked === true) {
                dataId = $(radio[i]).attr("data_Id");
        $.ajax({
                    url: "",
                    type: "POST",
                    data: {postId: dataId, status: radio[i].value},
                    success: function (data) {
                        if(data!==""){
                          dataId.parent().remove();
                        }
                        console.log(data);

                    }
                });

            }
        }
        window.location.reload();

    };

</script>
</body>
</html>
