<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<body>
<% for(var i in data) { %>
<div>
   ------------------------------------------
    <p>
        <%= data[i].message %>
    </p>
    <p>
        <%= data[i].email %>
    </p>
    <p>
        <%= data[i].twitter %>
    </p>

    <a href="#"  class = "click"  status = "approve" post_id="<%= data[i]._id%>" >approve </a>
    <a href="#"  class = "click"  status = "decline" post_id="<%= data[i]._id%>" >decline </a>
</div>
<% } %>






<script>
    $(".click").click(function(e){
        var postId = e.target.getAttribute("post_id");
        var status = e.target.getAttribute("status");
        console.log( e.target.innerHTML);

        $.ajax({
            url:"",
            type:"POST",
            data:{postId:postId, status:status},
            success:function(){
                if(status==="decline"){
                    $(e.target).parent().remove();
                }
                console.log(data);

            }
        });

    });


</script>


</body>
</html>
