<html>
<head>
	<title>We Heart Designers</title>
	<meta charset="utf-8">
	 <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>


<% for(var i in error) {%>
<% if (error[i]) { %>
<p><%- error[i] %></p>
<% } %>
<% } %>
<body>
<p id = "error"></p>
	<form method = "POST" action = "#">
		<textarea  id = "message" name="message" cols="40" rows ="3" placeholder = "Write some text" maxlength="100"><%=message %></textarea>
		<input type = "text" name = "twitter" placeholder = "Your Twitter handle"  value="<%=twitter %>">
		<input type = "text"  id = "email"  name = "email" placeholder = "Your email address"  value=" <%=email %>">
        <div class="recaptcha"><%-recaptchaForm%> </div>
		<input type = "submit" value = "Submit">

</form>



    <script type="text/javascript">
        function checkCharacters()
        {
            var  message = $("#message");

            if(message.val().length > 10) {
                $("#error").text("errrrr");
                return false;
            }

            else {return true;}

        }

    </script>

</body>
</html>


