<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

<body>

<!--header-->
<div class="header">
    <div class="all">
        <div class="heartlovepower">
            <div class="heart"> </div>
            <div class="powerlove">
                <div class="love"></div>
                <div class="java"> </div>
          <span class="power">powered by <span class="exp">expresscurate</span></span>
            </div>
            <div class="clear2"></div>
        </div>
        <div class="buttons">
            <a href="http://localhost:3000/express-your-love" class="a_link"> <button class="add">ADD LOVE NOTE</button></a>
            <button class="like"> <div class="like_note"></div><span class="note">LIKE</span></button>
        </div>
    </div>
    <div class="clear2"></div>
</div>
<!--header-->

<!--masonry-->
<div id="content">
 <ul  id="container"   class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
 <%for(var i=0; i<data.length; i++ )
{ %>
 <li class="item <%= page %>" >
   <div class="note-inner">
     <span class="love-heading">
             <span class="i-love"> I
              <img src="../images/gruop1.png" class="group-img">
              JAVA
              BECAUSE
               </span>
            <span class="note_message"> <%= data[i].message %></span>
           <span class="twitter">
            <%= data[i].twitter %>
           </span>

        </span>
            </div>
            <div class="note-overlay">
                <div class="outer">
                    <div class="middle">
                        <div class="details-btn">
                   <span class="details">

                    <a href="view-<%= data[i]._id %>" class="view">
                             VIEW
                        <img class="gruop2" src="../images/gruop1.png">
                             NOTE
                    </a>
                   </span>

                            <a  class="btn"  target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url">
                                <button class="fb-btn">facebook</button></a>
                            <a  class="btn"  target="_blank" href="https://twitter.com/share">
                                <button class="tw-btn">tweet</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
<% } %>
</ul>
</div>
<!--end of masonry-->

 <input type="button" class = "show"  value="Show more" onclick="showMore()"/>
 <input type="hidden" value="<%=lastDate%>" id="lastDate">
 <input type="hidden" value="<%=page%>" id="page">
 <input type="hidden" value="<%=scrollpage%>" id="scrollpage">

<!--footer-->
<div class="footer">
    <div class="footer_container">
 <ul class="footer_ul">
     <li class="about"> <h2 class="h2">ABOUT</h2>
        <span class="about_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </span>
      </li>

     <li class="express_curate"><h2 class="h2">EXPRESS CURATE</h2>
       <span class="express_curate_span">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         <br>
         <br>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
         totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.v
       </span>
     </li>
</ul>




<!--footer_content div-->
<div class="footer_content">
<h2 class="subscribe">SUBSCRIBE TO "I LOVE JAVA" CLUB</h2>

   <div class="subscribe_input">
       <input class="white_input" placeholder="enter your email">
       <!--<div class="clear1"></div>-->
       <input class="dark_input" value="SUBSCRIBE" type="submit">
       <div class="clear2"></div>
    </div>

    <p class="love_java">i love java! All rights reserved</p>

</div>
 </div>
 <!--end of footer-->
</div>
</div>



<script>
 function showMore() {
       var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");
         $('.show').val("...");
//         $('.show').css("visibility", "hidden");

          $.ajax({
            url: "/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function (response) {
                var data = response.data;
                $("#lastDate").attr('value', response['lastDate']);
                $("#page").attr('value', response['page']);
                console.log(data);
                if (data != "") {
                    for (var i = 0; i < data.length; i++) {
                      var wrapper = document.createElement("div");
                        if(data[i].message.match((/(<([^>]+)>)/ig))){
                            var array=[];
                            array = data[i].message.split("");
                            for(var j=0;j<data.length;j++){
                                if(array[j]=="<"){
                                    array[j] = "&lt;"
                                }
                                if(array[j]==">"){
                                    array[j] = "&gt;"
                                }

                            }
                            data[i].message = array.join("");
                        }
                        wrapper.innerHTML = '<li class="item ' +response['page']+ '"> ' +
                                '<div class="note-inner"><span class="love-heading"><span class="i-love">I<img src="../images/gruop1.png" class="group-img"/>JAVA'+' '+'BECAUSE'+
                                '</span>'+' <span class="note_message">'+data[i].message + '</span>'+' <span class="twitter">' + data[i].twitter+'</span>'
                                +'</span>'+'</span>'+'</div>'+
                                 '<div class="note-overlay">'+'<div class="outer"><div class="middle"><div class="details-btn">'+
                                '<span class="details">'+'<a href="view-'+data[i]._id+'"class="view">VIEW'+'<img  class="gruop2" src="../images/gruop1.png"/>NOTE</a></span>'+
                                '<a class="btn" href="">' +'<button class="fb-btn">facebook'+'</button></a>'+'<a class="btn" href="">'+
                                '<button class="tw-btn">tweet'+'</button></a>'+ '</div>'+ '</div>'+ '</div>'+ '</div>'+ '</li>';
                        var elem = wrapper.firstChild;
                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);
                    }
                }
            }

        });
         history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
//       console.log($("#lastDate").attr("value"));
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop: true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
        });



    }


$(window).scroll(function() {

   var show = $('.show').val();
    if(show=="Show more"){
        return;
    }

    if( frontPage = $("#page").attr("value")>4)
       return true;

    if (document.documentElement.clientHeight +
            $(document).scrollTop() >= document.body.offsetHeight) {

        var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");
          $('.show').val("...");
          $('.show').css("visibility", "hidden");

        $.ajax({
            url:"/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function(response) {
                var data = response.data;
                $("#lastDate").attr('value', response['lastDate']);
                $("#page").attr('value', response['page']);
                console.log(data);
                if (data != "") {
                    for (var i = 0; i < data.length; i++) {
                        var wrapper = document.createElement("div");
                        if(data[i].message.match((/(<([^>]+)>)/ig))){
                            var array=[];
                            array = data[i].message.split("");
                            for(var j=0;j<data.length;j++){
                                if(array[j]=="<"){
                                    array[j] = "&lt;"
                                }
                                if(array[j]==">"){
                                    array[j] = "&gt;"
                                }

                            }
                            data[i].message = array.join("");
                        }

                        wrapper.innerHTML = '<li class="item ' +response['page']+ '"> ' +
                                '<div class="note-inner"><span class="love-heading"><span class="i-love">I<img src="../images/gruop1.png" class="group-img"/>JAVA'+' '+'BECAUSE'+
                                '</span>'+' <span class="note_message">'+data[i].message + '</span>'+' <span class="twitter">' + data[i].twitter+'</span>'
                                +'</span>'+'</span>'+'</div>'+
                                '<div class="note-overlay">'+'<div class="outer"><div class="middle"><div class="details-btn">'+
                                '<span class="details">'+'<a href="view-'+data[i]._id+'"class="view">VIEW'+'<img  class="gruop2" src="../images/gruop1.png"/>NOTE</a></span>'+
                                '<a class="btn" href="">' +'<button class="fb-btn">facebook'+'</button></a>'+'<a class="btn" href="">'+
                                '<button class="tw-btn">tweet'+'</button></a>'+ '</div>'+ '</div>'+ '</div>'+ '</div>'+ '</li>';
                        var elem = wrapper.firstChild;
                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);

                    }
                }
            }

        });
        history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop:true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
       });
   }


    $(function(){
                var elem;
                var _top = $(window).scrollTop();
                var scroll = $("#scrollpage").attr("value") || "";
               $(window).scroll(function() {
                    var _cur_top = $(window).scrollTop();
                    var frontPage = $("#page").attr("value");
                   var scrollpage=$("#scrollpage").attr("value") || 1;
                  console.log(scrollpage + "up");
                    if (_top > _cur_top){
                      console.log("up");
                    for (; scrollpage < frontPage; scrollpage++) {
                        elem = $("." + scrollpage)[0];
                        console.log(elem +"elem");
                        if (isScrolledIntoView(elem)) {
                            console.log(scrollpage + "jh");
                            break;
                        }
                   }
                    var up = scrollpage-1;
                        if(scroll!="" && scroll>up )  {
                            return true;
                        }
                        if (up == 0) {
                            history.pushState({}, '', 'http://localhost:3000');
                        }

                    else {
                        history.pushState({}, '', 'http://localhost:3000/page/' + up);
                    }
                    }
                _top = _cur_top;

            });
        });


    $(function(){

        var elem;
        var _top = $(window).scrollTop();
        $(window).scroll(function(){
            var _cur_top = $(window).scrollTop();
            var frontPage = $("#page").attr("value");
            var scrollpage = $("#scrollpage").attr("value") || 1;
            if(_top < _cur_top)
            {
                console.log("down");
                for(; scrollpage<frontPage; scrollpage++) {
                    elem = $("." + scrollpage)[0];
                    if (isScrolledIntoView(elem)) {
                        break;
                    }
                }
               history.pushState({}, '',  'http://localhost:3000/page/'+scrollpage);

            }
            _top = _cur_top;
        });
    });

    function isScrolledIntoView(elem)
    {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

});

</script>
</body>
</html>
