<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

<body>

<a href="http://localhost:3000/form"><p class="form">form</p></a>

<div class="icon">
<a href="https://www.facebook.com"><img src="images/fb.png"></a>
<a href="https://www.facebook.com"><img src="/images/twitter.png"></a>
<a href="https://www.facebook.com"><img src="/images/g+.jpg"></a>
</div>



<div id="container" class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
<% for(var i= 0; i<data.length; i++) { %>
<div class="item" idItem="<%=page%>">
    <p class="text">
        <%= data[i].message %>
    </p>
     <p class="text">
        <%= data[i].twitter %>  <a href="view-<%=data[i]._id%>"class="view">View details </a>
    </p>
</div>

    <% } %>

</div>

 <input type="button" class = "show"  value="showMore" onclick="showMore()"/>
 <input type="hidden" value="<%=lastDate%>" id="lastDate">
 <input type="hidden" value="<%=page%>" id="page">


<script>

 $(".view").on('click', function(e) {
         var id= e.target.getAttribute("id");
    });



 function showMore() {
       var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");

          $.ajax({
            url: "/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function (response) {
                var data = response.data;
                console.log(data);
                if (data != "") {
                    for (var i = 0; i < data.length; i++) {
                        var wrapper = document.createElement("div");
                        wrapper.innerHTML = '<div class="item" idItem="'+response['page']+'"><p class="text">' + data[i].message + '</p> <p class="text">' + data[i].twitter + '<a href="view-' + data[i]._id + '" class="view"> View details </a></p></div>';
                        var elem = wrapper.firstChild;
                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);

                    }
                }
                $("#lastDate").attr('value', response['lastDate']);
                $("#page").attr('value',     response['page']);
            }

        });
         history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
//       console.log($("#lastDate").attr("value"));
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop: true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
        });



    }


$(window).scroll(function() {

    if (document.documentElement.clientHeight +
            $(document).scrollTop() >= document.body.offsetHeight)
    {

        var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");
          $('.show').css("visibility", "hidden");

        $.ajax({
            url:"/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function(response) {
                var data = response.data;
                console.log(data);
                if (data != "") {
//                    console.log(data + "54878");
                    for (var i = 0; i < data.length; i++) {
                        var wrapper = document.createElement("div");
                        wrapper.innerHTML = '<div class="item" idItem="'+response['page']+'"><p class="text">' + data[i].message + '</p> <p class="text">'+ data[i].twitter+'<a href="view-'+ data[i]._id+ '" class="view"> View details </a></p></div>';
                        var elem = wrapper.firstChild;
                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);

                    }
                }
                $("#lastDate").attr('value', response['lastDate']);
              $("#page").attr('value', response['page']);
            }

        });
        history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop:true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
       });
   }

});
</script>
</body>
</html>
