<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

<body>

<a href="http://localhost:3000/form"><p class="form">form</p></a>

<div class="icon">
<a href="https://www.facebook.com"><img src="images/fb.png"></a>
<a href="https://www.facebook.com"><img src="/images/twitter.png"></a>
<a href="https://www.facebook.com"><img src="/images/g+.jpg"></a>
</div>



<div id="container" class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
<% for(var i= 0; i<data.length; i++) { %>
<div class="item <%=page%>">
    <p class="text">
        <%= data[i].message %>
    </p>
    <img src="<%=data[i].icon%>">
     <p class="text">
        <%= data[i].twitter %>  <a href="view-<%=data[i]._id%>"class="view">View details </a>
    </p>
</div>

    <% } %>

</div>

 <input type="button" class = "show"  value="showMore" onclick="showMore()"/>
 <input type="hidden" value="<%=lastDate%>" id="lastDate">
 <input type="hidden" value="<%=page%>" id="page">


<script>

// $(".view").on('click', function(e) {
//         var id= e.target.getAttribute("id");
//    });



 function showMore() {
       var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");

          $.ajax({
            url: "/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function (response) {
                var data = response.data;
                $("#lastDate").attr('value', response['lastDate']);
                $("#page").attr('value', response['page']);
                console.log(data);
                if (data != "") {
                    for (var i = 0; i < data.length; i++) {
                      var wrapper = document.createElement("div");
                        if(data[i].message.match((/(<([^>]+)>)/ig))){
                            var array=[];
                            array = data[i].message.split("");
                            for(var j=0;j<data.length;j++){
                                if(array[j]=="<"){
                                    array[j] = "&lt;"
                                }
                                if(array[j]==">"){
                                    array[j] = "&gt;"
                                }

                            }
                            data[i].message = array.join("");
                        }
                        wrapper.innerHTML = '<div class="item ' +response['page']+'"><p class="text">' + data[i].message + '</p> <p class="text">' + data[i].twitter  + '<img src="'+data[i].icon+'"> <a href="view-' + data[i]._id + '" class="view"> View details </a></p></div>';
                        var elem = wrapper.firstChild;

                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);
                    }
                }
//                $("#lastDate").attr('value', response['lastDate']);
//                $("#page").attr('value',     response['page']);
            }

        });
         history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
//       console.log($("#lastDate").attr("value"));
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop: true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
        });



    }


$(window).scroll(function() {

    if( frontPage = $("#page").attr("value")>4)
       return true;

    if (document.documentElement.clientHeight +
            $(document).scrollTop() >= document.body.offsetHeight) {

        var container = document.getElementById("container"),
         frontPage = $("#page").attr("value");
          $('.show').css("visibility", "hidden");

        $.ajax({
            url:"/page/"+frontPage+"?dataType=JSON&time=" + $("#lastDate").attr("value"),
            type: "GET",
            success: function(response) {
                var data = response.data;
                $("#lastDate").attr('value', response['lastDate']);
                $("#page").attr('value', response['page']);
                console.log(data);
                if (data != "") {
                    for (var i = 0; i < data.length; i++) {
                        var wrapper = document.createElement("div");
                        if(data[i].message.match((/(<([^>]+)>)/ig))){
                            var array=[];
                            array = data[i].message.split("");
                            for(var j=0;j<data.length;j++){
                                if(array[j]=="<"){
                                    array[j] = "&lt;"
                                }
                                if(array[j]==">"){
                                    array[j] = "&gt;"
                                }

                            }
                            data[i].message = array.join("");
                        }

                        wrapper.innerHTML = '<div class="item '+response['page']+'"><p class="text">' + data[i].message + '</p> <p class="text">'+ data[i].twitter + '<img src="'+data[i].icon+'"><a href="view-'+ data[i]._id+ '" class="view"> View details </a></p></div>';
                        var elem = wrapper.firstChild;
                        $('#container').append(elem);
                        $('#container').masonry('appended', elem);

                    }
                }
//                $("#lastDate").attr('value', response['lastDate']);
//              $("#page").attr('value', response['page']);
            }

        });
        history.pushState({}, '', 'http://localhost:3000/page/'+frontPage);
        $('#container').masonry({
            itemSelector: '.item',
            isOriginTop:true,
            singleMode: false,
            isResizable: false,
            isAnimated: true,
            columnWidth: ".item",
            gutter: 7,
            animationOptions: {
                queue: true,
                duration: 500
            }
       });
   }


    $(function(){
                var elem;
                var _top = $(window).scrollTop();

                $(window).scroll(function() {
                    var _cur_top = $(window).scrollTop();
                    var frontPage = $("#page").attr("value");
                    if (_top > _cur_top){

                        console.log("up");
                    for (var i = 1; i < frontPage; i++) {
                        elem = $("." + i)[0];
                        if (isScrolledIntoView(elem)) {
                            console.log(i + "jh");
                            break;
                        }

                        console.log(i);
                    }


                    var up = --i;
                    if (up == 0) {
                        history.pushState({}, '', 'http://localhost:3000');
                    }
                    else {
                        history.pushState({}, '', 'http://localhost:3000/page/' + up);
                    }
                    }
                _top = _cur_top;

            });
        });


    $(function(){

        var elem;
        var _top = $(window).scrollTop();

        $(window).scroll(function(){
            var _cur_top = $(window).scrollTop();
            var frontPage = $("#page").attr("value");
            if(_top < _cur_top)
            {
                console.log("down");
                for(var i=1; i<frontPage; i++) {
                    elem = $("." + i)[0];
                    if (isScrolledIntoView(elem)) {
                        break;
                    }
                   console.log(i);
                }
               history.pushState({}, '',  'http://localhost:3000/page/'+i);

            }
            _top = _cur_top;
        });
    });






    function isScrolledIntoView(elem)
    {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }


});



</script>
</body>
</html>
